body {
    margin: 0;
    
}

.container {
    text-align: center;
    background-color: #1B244A;
    margin:20px auto;
    width: min-content;
    border: solid #333 8px;
    border-radius: 10px;
}

#btn_new_game {
    margin:15px;
    border-radius: 5px;
    border: 2px solid #9AABD8;
    width: 145px;
    flex-shrink: 0;
    color: #9AABD8;
    text-align: center;
    font-family: Cursed Timer ULiL;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.812px; /* 154.509% */
    margin-top: 16px;
    background-color: #232e5f;
}
#btn_new_game:hover {

    transform: scale(1.05);
    transition: 0.1s;
    background-color: #304085;
    border-radius: 10px;
    font-size: 20px;
}

#timer {
    margin:15px auto;
    border-radius: 5px;
    width:140px;
    border: 1px solid #9AABD8;
    color: #9AABD8;
    text-align: center;
    font-family: Cursed Timer ULiL;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding: 4px;
    margin-top: 0px;
    background-color: #1B244A;
}

#periods {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 0 auto;
}

.period {
    width:40px;
    height: 10px;
    background-color: white;
}


#scoreboard {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    width: 575px;
    height: 385px;
    margin: 20px auto;
    border: solid #f30404 0px;
}

.score_section {
    border: solid 0px white;
    text-align: center;
}

.score_section h3 {

    border: solid 0px green;
    color: #EEE;
    text-align: center;
    font-family: Verdana;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 35.893px; /* 89.732% */
    margin-top: 28px;;
    margin-bottom: 21px;
}

.score_points {
    border:solid black 4px;
    width: 155;
    height: 120;
    margin: 5px auto;
    background-color: #080001;
    text-align: center;
    color: #F94F6D;
    text-align: center;
    font-family: Cursed Timer ULiL;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: 126.666px; /* 140.74% */
    
}

.points_buttons{
    display: flex;
    justify-content: space-around;
}

.point_button{
    border-radius: 5px;
    border: 2px solid #9AABD8;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    color: #9AABD8;
    text-align: center;
    font-family: Cursed Timer ULiL;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.812px; /* 154.509% */
    margin-top: 26px;
    background-color: #232e5f;
}



button:hover {
    transform: scale(1.05);
    transition: 0.1s;
    background-color: #304085;
    border-radius: 10px;
    font-size: 20px;
}

.btn_fouls {
    border-radius: 5px;
    border: 2px solid #9AABD8;
    width: 145px;
    height: 45px;
    flex-shrink: 0;
    color: #9AABD8;
    text-align: left;
    font-family: Cursed Timer ULiL;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.812px; /* 154.509% */
    margin-top: 26px;
    background-color: #232e5f;
}